In [132]:
import pandas as pd

In [133]:
retail=pd.read_csv('5_data.csv.zip', compression='zip', encoding='ISO-8859-1')
retail_columns=retail.columns

In [134]:
retail_columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [135]:
retail = retail.drop_duplicates()

In [136]:
retail['Revenue']=retail.Quantity * retail.UnitPrice

In [52]:
retail.InvoiceNo.str.startswith('C')

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: InvoiceNo, Length: 536641, dtype: bool

In [53]:
retail.InvoiceNo.str.startswith('C')

0         False
1         False
2         False
3         False
4         False
          ...
541904    False
541905    False
541906    False
541907    False
541908    False
Name: InvoiceNo, Length: 536641, dtype: bool

In [54]:
InvoiceNo_1=retail.InvoiceNo.str.startswith('C')

In [55]:
df=pd.DataFrame(data=InvoiceNo_1)

In [56]:
df.query('InvoiceNo==True')

        InvoiceNo
141          True
154          True
235          True
236          True
237          True
...           ...
540449       True
541541       True
541715       True
541716       True
541717       True

[9251 rows x 1 columns]

In [57]:
retail=retail1.query('Quantity > 0')

In [58]:
retail.shape

(526054, 8)

In [62]:
retail.query('Country == "Germany"')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1109,536527,22809,SET OF 6 T-LIGHTS SANTA,6,12/1/2010 13:04,2.95,12662.0,Germany
1110,536527,84347,ROTATING SILVER ANGELS T-LIGHT HLDR,6,12/1/2010 13:04,2.55,12662.0,Germany
1111,536527,84945,MULTI COLOUR SILVER T-LIGHT HOLDER,12,12/1/2010 13:04,0.85,12662.0,Germany
1112,536527,22242,5 HOOK HANGER MAGIC TOADSTOOL,12,12/1/2010 13:04,1.65,12662.0,Germany
1113,536527,22244,3 HOOK HANGER MAGIC GARDEN,12,12/1/2010 13:04,1.95,12662.0,Germany
...,...,...,...,...,...,...,...,...
541801,581578,22993,SET OF 4 PANTRY JELLY MOULDS,12,12/9/2011 12:16,1.25,12713.0,Germany
541802,581578,22907,PACK OF 20 NAPKINS PANTRY DESIGN,12,12/9/2011 12:16,0.85,12713.0,Germany
541803,581578,22908,PACK OF 20 NAPKINS RED APPLES,12,12/9/2011 12:16,0.85,12713.0,Germany
541804,581578,23215,JINGLE BELL HEART ANTIQUE SILVER,12,12/9/2011 12:16,2.08,12713.0,Germany
541805,581578,22736,RIBBON REEL MAKING SNOWMEN,10,12/9/2011 12:16,1.65,12713.0,Germany

In [81]:
german_buyers=retail.query('Country == "Germany"')\
    .groupby('CustomerID')\#сгрупировали по клинетам(чтобы не по заказу)
    .agg({'InvoiceNo': pd.Series.nunique})\
    .rename(columns={'InvoiceNo':'ord_numbers'})#переименовали колонку

In [72]:
german_buyers.InvoiceNo.sort_values() #отсортировали по колонке по возрастанию

CustomerID
12426.0     1
12531.0     1
12534.0     1
12561.0     1
12566.0     1
           ..
12474.0    18
12621.0    20
12720.0    25
12471.0    30
12569.0    32
Name: InvoiceNo, Length: 94, dtype: int64

In [84]:
per_8=german_buyers.InvoiceNo.quantile(q=0.8) #вывели процентиль 80 процентов

AttributeError: 'DataFrame' object has no attribute 'InvoiceNo'

In [91]:
germany_top=german_buyers.query('ord_numbers>@per_8').index#отсортировали тех, у кого заказов больше 80%

In [120]:
top_retail_germany=retail.query('CustomerID in @germany_top')

In [121]:
top_retail_germany\
    .groupby('StockCode')\
    .agg({'Description': 'count'})\
    .sort_values('Description')

           Description
StockCode
10125                1
22246                1
23179                1
22242                1
23184                1
...                ...
20719               30
22423               34
22328               38
22326               52
POST               213

[1158 rows x 1 columns]

In [128]:
retail

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,Quantity*UnitPrice,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Quantity*UnitPrice,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,Quantity*UnitPrice,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Quantity*UnitPrice,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,Quantity*UnitPrice,20.34
...,...,...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France,Quantity*UnitPrice,10.20
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France,Quantity*UnitPrice,12.60
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France,Quantity*UnitPrice,16.60
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France,Quantity*UnitPrice,16.60
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France,Quantity*UnitPrice,14.85

In [143]:
retail\
    .groupby('InvoiceNo')\
    .agg({'Revenue': sum })\
    .sort_values('Revenue',ascending=False)\
    .head(5)\
    .index

Index(['581483', '541431', '574941', '576365', '556444'], dtype='object', name='InvoiceNo')

In [139]:
retail.InvoiceNo.shape

(536641,)